# -*- coding: utf-8 -*-

class Config:
    bot_token = 'TOKEN'
    cw_bot_username = 'ChatWarsBot'

    abbreviation_mapping = {
    'Алюм.руда': 'Алюминиевая руда',
    'Фил.камень': 'Философский камень',
    'Адамант.руда': 'Адамантитовая руда',
    'Серебр.руда': 'Серебряная руда',
    'Кост.пудра': 'Костяная пудра'
    }
