# -*- coding: utf-8 -*-

class Config:
    bot_token = 'TOKEN'
    cw_bot_username = 'ChatWarsBot'
    recipes_file = 'recipes.json'

    abbreviation_mapping = {
    u'Алюм.руда': u'Алюминиевая руда',
    u'Фил.камень': u'Философский камень',
    u'Адамант.руда': u'Адамантитовая руда',
    u'Серебр.руда': u'Серебряная руда',
    u'Кост.пудра': u'Костяная пудра',
    u'Шкура': u'Шкура животного',
    u'Кость': u'Кость животного',
    u'Метал.волокно': u'Металлическое волокно'
    }

    #this resources are not listed in dwarf's messages but listed in
    #/stock messages, so it leads to repeated marking them as `not_found_resources`
    ignore_not_found_resources = {
        '🏷👒 Дамская шляпка'
    }
